.AddTodo {
  background-color: yellowgreen;
}
.Input {
  padding: 8px 12px;

  font: inherit;

  border: none;
  border-right: thin solid black;
  background: transparent;
  outline: none;
}

button {
  background: transparent;
  padding: 8px 16px;
  font-weight: bold;
}
